{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<br><br><br><br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="C:\Users\Mohit\Desktop\Web_app\web_app\static\name.png" class="d-block w-100" alt="LeewayHertz" width="500" height="400">
    </div>
    <div class="carousel-item">
      <img src="C:\Users\Mohit\Desktop\Web_app\web_app\static\dgi.jpg" class="d-block w-100" alt="Dronacharya Group of Institutions" width="500" height="400">
    </div>
    <div class="carousel-item">
      <img src="C:\Users\Mohit\Desktop\Web_app\web_app\static\1.png" class="d-block w-100" alt="Assignment" width="500" height="400">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock body %}